<template name="inbound">


  <div class="row wrapper border-bottom white-bg page-heading">
                  <div class="col-sm-4">
                      <h2>Job Details</h2>
                      <ol class="breadcrumb">
                          <li>
                              <a href="../">Home</a>
                          </li>
                          <li class="active">
                              <strong>Project detail</strong>
                          </li>
                      </ol>
                  </div>
              </div>
          <div class="row">
            <p>{{inbounddata}}</p>
          </div>




</template>
