<template name = "trafficscotland">

  <div class="wrapper wrapper-content">
              <div class="row">
                  <div class="col-lg-12">
                  <div class="ibox float-e-margins">

                      <div class="ibox-content">

                          <h2>Traffic Scotland Live Cameras</h2>


                          <div class="lightBoxGallery">

                          <a href="../ts/images/4_5873_cam1.jpg" title="A1 Houndwood North" data-gallery=""><img src="../ts/images/4_5873_cam1.jpg"></a>
                          <a href="../ts/images/4_5873_cam2.jpg" title="A1 Houndwood South" data-gallery=""><img src="../ts/images/4_5873_cam2.jpg"></a>
                          <a href="../ts/images/7_1007.jpg" title="A1 Lamberton" data-gallery=""><img src="../ts/images/7_1007.jpg"></a>
                          <a href="../ts/images/8_1390_cam1.jpg" title="A1 Myreside East" data-gallery=""><img src="../ts/images/8_1390_cam1.jpg"></a>
                          <a href="../ts/images/8_1390_cam2.jpg" title="A1 Myreside West" data-gallery=""><img src="../ts/images/8_1390_cam2.jpg"></a>
                          <a href="../ts/images/7_1008.jpg" title="A1 Reston" data-gallery=""><img src="../ts/images/7_1008.jpg"></a>
                          <a href="../ts/images/4_5_cam1.jpg" title="A68 Carter Bar North" data-gallery=""><img src="../ts/images/4_5_cam1.jpg"></a>
                          <a href="../ts/images/4_5_cam2.jpg" title="A68 Carter Bar South" data-gallery=""><img src="../ts/images/4_5_cam2.jpg"></a>
                          <a href="../ts/images/4_6020_cam1.jpg" title="A68 Earlston North" data-gallery=""><img src="../ts/images/4_6020_cam1.jpg"></a>
                          <a href="../ts/images/4_6020_cam2.jpg" title="A68 Earlston South" data-gallery=""><img src="../ts/images/4_6020_cam2.jpg"></a>
                          <a href="../ts/images/4_1181_cam1.jpg" title="A68 Soutra South" data-gallery=""><img src="../ts/images/4_1181_cam1.jpg"></a>
                          <a href="../ts/images/4_6001_cam1.jpg" title="A7 Hawick North" data-gallery=""><img src="../ts/images/4_6001_cam1.jpg"></a>
                          <a href="../ts/images/4_716_cam2.jpg" title="A7 Mosspaul North" data-gallery=""><img src="../ts/images/4_716_cam2.jpg"></a>
                          <a href="../ts/images/4_716_cam1.jpg" title="A7 Mosspaul South" data-gallery=""><img src="../ts/images/4_716_cam1.jpg"></a>
                          <a href="../ts/images/4_720_cam2.jpg" title="A7 Terrona North" data-gallery=""><img src="../ts/images/4_720_cam2.jpg"></a>
                          <a href="../ts/images/4_720_cam1.jpg" title="A7 Terrona South" data-gallery=""><img src="../ts/images/4_720_cam1.jpg"></a>
                          <a href="../ts/images/4_721_cam1.jpg" title="A701 Southerly Ridge North" data-gallery=""><img src="../ts/images/4_721_cam1.jpg"></a>
                          <a href="../ts/images/4_721_cam2.jpg" title="A701 Southerly Ridge South" data-gallery=""><img src="../ts/images/4_721_cam2.jpg"></a>
                          <a href="../ts/images/4_2063_cam1.jpg" title="A702 Abington North" data-gallery=""><img src="../ts/images/4_2063_cam1.jpg"></a>
                          <a href="../ts/images/4_1404_cam1.jpg" title="A702 Boghall North" data-gallery=""><img src="../ts/images/4_1404_cam1.jpg"></a>
                          <a href="../ts/images/4_1404_cam2.jpg" title="A702 Boghall South" data-gallery=""><img src="../ts/images/4_1404_cam2.jpg"></a>
                          <a href="../ts/images/7_211.jpg" title="A720 Baberton" data-gallery=""><img src="../ts/images/7_211.jpg"></a>
                          <a href="../ts/images/7_210.jpg" title="A720 Calder" data-gallery=""><img src="../ts/images/7_210.jpg"></a>
                          <a href="../ts/images/7_217.jpg" title="A720 Craighall" data-gallery=""><img src="../ts/images/7_217.jpg"></a>
                          <a href="../ts/images/7_212.jpg" title="A720 Dreghorn" data-gallery=""><img src="../ts/images/7_212.jpg"></a>
                          <a href="../ts/images/7_215.jpg" title="A720 Gilmerton" data-gallery=""><img src="../ts/images/7_215.jpg"></a>
                          <a href="../ts/images/7_209.jpg" title="A720 Hermiston Gait" data-gallery=""><img src="../ts/images/7_209.jpg"></a>
                          <a href="../ts/images/7_213.jpg" title="A720 Lothianburn" data-gallery=""><img src="../ts/images/7_213.jpg"></a>
                          <a href="../ts/images/7_216.jpg" title="A720 Sheriffhall" data-gallery=""><img src="../ts/images/7_216.jpg"></a>
                          <a href="../ts/images/7_214.jpg" title="A720 Straiton" data-gallery=""><img src="../ts/images/7_214.jpg"></a>
                          <a href="../ts/images/7_152.jpg" title="A725 Shawhead" data-gallery=""><img src="../ts/images/7_152.jpg"></a>
                          <a href="../ts/images/4_2423_cam1.jpg" title="A726 Eaglesham East" data-gallery=""><img src="../ts/images/4_2423_cam1.jpg"></a>
                          <a href="../ts/images/4_2423_cam2.jpg" title="A726 Eaglesham West" data-gallery=""><img src="../ts/images/4_2423_cam2.jpg"></a>
                          <a href="../ts/images/4_729_cam2.jpg" title="A737 Highfield North" data-gallery=""><img src="../ts/images/4_729_cam2.jpg"></a>
                          <a href="../ts/images/4_729_cam1.jpg" title="A737 Highfield South" data-gallery=""><img src="../ts/images/4_729_cam1.jpg"></a>
                          <a href="../ts/images/4_709_cam1.jpg" title="A75 Collin East" data-gallery=""><img src="../ts/images/4_709_cam1.jpg"></a>
                          <a href="../ts/images/4_709_cam2.jpg" title="A75 Collin West" data-gallery=""><img src="../ts/images/4_709_cam2.jpg"></a>
                          <a href="../ts/images/4_710_cam1.jpg" title="A75 Crocketford East" data-gallery=""><img src="../ts/images/4_710_cam1.jpg"></a>
                          <a href="../ts/images/4_710_cam2.jpg" title="A75 Crocketford West" data-gallery=""><img src="../ts/images/4_710_cam2.jpg"></a>
                          <a href="../ts/images/4_712_cam2.jpg" title="A75 Drumflower East" data-gallery=""><img src="../ts/images/4_712_cam2.jpg"></a>
                          <a href="../ts/images/4_712_cam1.jpg" title="A75 Drumflower West" data-gallery=""><img src="../ts/images/4_712_cam1.jpg"></a>
                          <a href="../ts/images/8_5917_cam1.jpg" title="A75 Gretna East" data-gallery=""><img src="../ts/images/8_5917_cam1.jpg"></a>
                          <a href="../ts/images/8_5917_cam2.jpg" title="A75 Gretna West" data-gallery=""><img src="../ts/images/8_5917_cam2.jpg"></a>
                          <a href="../ts/images/4_3797_cam2.jpg" title="A76 Blackwood East" data-gallery=""><img src="../ts/images/4_3797_cam2.jpg"></a>
                          <a href="../ts/images/4_3797_cam1.jpg" title="A76 Blackwood West" data-gallery=""><img src="../ts/images/4_3797_cam1.jpg"></a>
                          <a href="../ts/images/4_733_cam1.jpg" title="A76 Closeburn South" data-gallery=""><img src="../ts/images/4_733_cam1.jpg"></a>
                          <a href="../ts/images/4_724_cam1.jpg" title="A77 Crossraguel East" data-gallery=""><img src="../ts/images/4_724_cam1.jpg"></a>
                          <a href="../ts/images/4_724_cam2.jpg" title="A77 Crossraguel West" data-gallery=""><img src="../ts/images/4_724_cam2.jpg"></a>
                          <a href="../ts/images/4_734_cam1.jpg" title="A77 Dutchhouse North" data-gallery=""><img src="../ts/images/4_734_cam1.jpg"></a>
                          <a href="../ts/images/4_734_cam2.jpg" title="A77 Dutchhouse South" data-gallery=""><img src="../ts/images/4_734_cam2.jpg"></a>
                          <a href="../ts/images/7_129.jpg" title="A77 Meiklewood" data-gallery=""><img src="../ts/images/7_129.jpg"></a>
                          <a href="../ts/images/4_731_cam1.jpg" title="A78 Gourock North" data-gallery=""><img src="../ts/images/4_731_cam1.jpg"></a>
                          <a href="../ts/images/8_5918_cam2.jpg" title="A78 Sharphill East" data-gallery=""><img src="../ts/images/8_5918_cam2.jpg"></a>
                          <a href="../ts/images/8_5918_cam1.jpg" title="A78 Sharphill West" data-gallery=""><img src="../ts/images/8_5918_cam1.jpg"></a>
                          <a href="../ts/images/7_155.jpg" title="A8 Newhouse" data-gallery=""><img src="../ts/images/7_155.jpg"></a>
                          <a href="../ts/images/4_1304_cam2.jpg" title="A8 Port Glasgow East" data-gallery=""><img src="../ts/images/4_1304_cam2.jpg"></a>
                          <a href="../ts/images/4_1304_cam1.jpg" title="A8 Port Glasgow West" data-gallery=""><img src="../ts/images/4_1304_cam1.jpg"></a>
                          <a href="../ts/images/4_1303_cam2.jpg" title="A82 Alexandria Bypass North" data-gallery=""><img src="../ts/images/4_1303_cam2.jpg"></a>
                          <a href="../ts/images/4_1303_cam1.jpg" title="A82 Alexandria Bypass South" data-gallery=""><img src="../ts/images/4_1303_cam1.jpg"></a>
                          <a href="../ts/images/4_786_cam1.jpg" title="A82 Altnafeadh East" data-gallery=""><img src="../ts/images/4_786_cam1.jpg"></a>
                          <a href="../ts/images/4_786_cam2.jpg" title="A82 Altnafeadh West" data-gallery=""><img src="../ts/images/4_786_cam2.jpg"></a>
                          <a href="../ts/images/7_1022.jpg" title="A82 Erskine Br (A82)" data-gallery=""><img src="../ts/images/7_1022.jpg"></a>
                          <a href="../ts/images/4_1214_cam1.jpg" title="A82 Tyndrum North" data-gallery=""><img src="../ts/images/4_1214_cam1.jpg"></a>
                          <a href="../ts/images/4_1214_cam2.jpg" title="A82 Tyndrum South" data-gallery=""><img src="../ts/images/4_1214_cam2.jpg"></a>
                          <a href="../ts/images/7_737.jpg" title="A823 at M90" data-gallery=""><img src="../ts/images/7_737.jpg"></a>
                          <a href="../ts/images/7_739.jpg" title="A823 Carnegie" data-gallery=""><img src="../ts/images/7_739.jpg"></a>
                          <a href="../ts/images/7_738.jpg" title="A823 Sth Castle" data-gallery=""><img src="../ts/images/7_738.jpg"></a>
                          <a href="../ts/images/4_2364_cam1.jpg" title="A83 Clachan Hill North" data-gallery=""><img src="../ts/images/4_2364_cam1.jpg"></a>
                          <a href="../ts/images/4_2364_cam2.jpg" title="A83 Clachan Hill South" data-gallery=""><img src="../ts/images/4_2364_cam2.jpg"></a>
                          <a href="../ts/images/4_3494_cam1.jpg" title="A83 Rest And Be Thankful East" data-gallery=""><img src="../ts/images/4_3494_cam1.jpg"></a>
                          <a href="../ts/images/4_3494_cam2.jpg" title="A83 Rest And Be Thankful West" data-gallery=""><img src="../ts/images/4_3494_cam2.jpg"></a>
                          <a href="../ts/images/4_1386_cam1.jpg" title="A830 Glenfinnan East" data-gallery=""><img src="../ts/images/4_1386_cam1.jpg"></a>
                          <a href="../ts/images/4_3495_cam2.jpg" title="A830 Morar North" data-gallery=""><img src="../ts/images/4_3495_cam2.jpg"></a>
                          <a href="../ts/images/4_3495_cam1.jpg" title="A830 Morar South" data-gallery=""><img src="../ts/images/4_3495_cam1.jpg"></a>
                          <a href="../ts/images/4_3373_cam1.jpg" title="A835 Aultguish East" data-gallery=""><img src="../ts/images/4_3373_cam1.jpg"></a>
                          <a href="../ts/images/4_3373_cam2.jpg" title="A835 Aultguish West" data-gallery=""><img src="../ts/images/4_3373_cam2.jpg"></a>
                          <a href="../ts/images/4_1443_cam1.jpg" title="A835 Braemore East" data-gallery=""><img src="../ts/images/4_1443_cam1.jpg"></a>
                          <a href="../ts/images/4_1443_cam2.jpg" title="A835 Braemore West" data-gallery=""><img src="../ts/images/4_1443_cam2.jpg"></a>
                          <a href="../ts/images/4_3295_cam2.jpg" title="A85 Dalmally East" data-gallery=""><img src="../ts/images/4_3295_cam2.jpg"></a>
                          <a href="../ts/images/4_3295_cam1.jpg" title="A85 Dalmally West" data-gallery=""><img src="../ts/images/4_3295_cam1.jpg"></a>
                          <a href="../ts/images/4_1677_cam1.jpg" title="A85 Glen Ogle North" data-gallery=""><img src="../ts/images/4_1677_cam1.jpg"></a>
                          <a href="../ts/images/4_1677_cam2.jpg" title="A85 Glen Ogle South" data-gallery=""><img src="../ts/images/4_1677_cam2.jpg"></a>
                          <a href="../ts/images/4_3477_cam2.jpg" title="A87 Ard Dorch East" data-gallery=""><img src="../ts/images/4_3477_cam2.jpg"></a>
                          <a href="../ts/images/4_3477_cam1.jpg" title="A87 Ard Dorch West" data-gallery=""><img src="../ts/images/4_3477_cam1.jpg"></a>
                          <a href="../ts/images/4_784_cam1.jpg" title="A87 Cluanie East" data-gallery=""><img src="../ts/images/4_784_cam1.jpg"></a>
                          <a href="../ts/images/4_784_cam2.jpg" title="A87 Cluanie West" data-gallery=""><img src="../ts/images/4_784_cam2.jpg"></a>
                          <a href="../ts/images/7_802.jpg" title="A87 Skye Bridge" data-gallery=""><img src="../ts/images/7_802.jpg"></a>
                          <a href="../ts/images/4_1662_cam1.jpg" title="A887 Achlain East" data-gallery=""><img src="../ts/images/4_1662_cam1.jpg"></a>
                          <a href="../ts/images/4_1665_cam1.jpg" title="A889 Catlodge East" data-gallery=""><img src="../ts/images/4_1665_cam1.jpg"></a>
                          <a href="../ts/images/4_1665_cam2.jpg" title="A889 Catlodge West" data-gallery=""><img src="../ts/images/4_1665_cam2.jpg"></a>
                          <a href="../ts/images/7_401.jpg" title="A898 Erskine Br Tower" data-gallery=""><img src="../ts/images/7_401.jpg"></a>
                          <a href="../ts/images/7_1004.jpg" title="A9 A897" data-gallery=""><img src="../ts/images/7_1004.jpg"></a>
                          <a href="../ts/images/4_1193_cam2.jpg" title="A9 Achavanich North" data-gallery=""><img src="../ts/images/4_1193_cam2.jpg"></a>
                          <a href="../ts/images/4_1193_cam1.jpg" title="A9 Achavanich South" data-gallery=""><img src="../ts/images/4_1193_cam1.jpg"></a>
                          <a href="../ts/images/7_1005.jpg" title="A9 Aldclune" data-gallery=""><img src="../ts/images/7_1005.jpg"></a>
                          <a href="../ts/images/4_1781_cam1.jpg" title="A9 Avielochan North" data-gallery=""><img src="../ts/images/4_1781_cam1.jpg"></a>
                          <a href="../ts/images/4_1781_cam2.jpg" title="A9 Avielochan South" data-gallery=""><img src="../ts/images/4_1781_cam2.jpg"></a>
                          <a href="../ts/images/4_522_cam1.jpg" title="A9 Balhaldie North" data-gallery=""><img src="../ts/images/4_522_cam1.jpg"></a>
                          <a href="../ts/images/4_522_cam2.jpg" title="A9 Balhaldie South" data-gallery=""><img src="../ts/images/4_522_cam2.jpg"></a>
                          <a href="../ts/images/7_1009.jpg" title="A9 Ballinluig" data-gallery=""><img src="../ts/images/7_1009.jpg"></a>
                          <a href="../ts/images/4_1484_cam1.jpg" title="A9 Balvraid South" data-gallery=""><img src="../ts/images/4_1484_cam1.jpg"></a>
                          <a href="../ts/images/4_1372_cam1.jpg" title="A9 Daviot North" data-gallery=""><img src="../ts/images/4_1372_cam1.jpg"></a>
                          <a href="../ts/images/4_1372_cam2.jpg" title="A9 Daviot South" data-gallery=""><img src="../ts/images/4_1372_cam2.jpg"></a>
                          <a href="../ts/images/4_1458_cam1.jpg" title="A9 Dornoch Bridge South" data-gallery=""><img src="../ts/images/4_1458_cam1.jpg"></a>
                          <a href="../ts/images/4_1191_cam1.jpg" title="A9 Drumochter North" data-gallery=""><img src="../ts/images/4_1191_cam1.jpg"></a>
                          <a href="../ts/images/4_1191_cam2.jpg" title="A9 Drumochter South" data-gallery=""><img src="../ts/images/4_1191_cam2.jpg"></a>
                          <a href="../ts/images/7_1017.jpg" title="A9 Kessock" data-gallery=""><img src="../ts/images/7_1017.jpg"></a>
                          <a href="../ts/images/7_1006.jpg" title="A9 Kingussie" data-gallery=""><img src="../ts/images/7_1006.jpg"></a>
                          <a href="../ts/images/4_472_cam1.jpg" title="A9 Loaninghead East" data-gallery=""><img src="../ts/images/4_472_cam1.jpg"></a>
                          <a href="../ts/images/4_472_cam2.jpg" title="A9 Loaninghead West" data-gallery=""><img src="../ts/images/4_472_cam2.jpg"></a>
                          <a href="../ts/images/7_1014.jpg" title="A9 Milton of Leys" data-gallery=""><img src="../ts/images/7_1014.jpg"></a>
                          <a href="../ts/images/7_1024.jpg" title="A9 Newtonmore" data-gallery=""><img src="../ts/images/7_1024.jpg"></a>
                          <a href="../ts/images/7_1015.jpg" title="A9 North Kessock" data-gallery=""><img src="../ts/images/7_1015.jpg"></a>
                          <a href="../ts/images/4_781_cam1.jpg" title="A9 Ord Ousdale North" data-gallery=""><img src="../ts/images/4_781_cam1.jpg"></a>
                          <a href="../ts/images/4_781_cam2.jpg" title="A9 Ord Ousdale South" data-gallery=""><img src="../ts/images/4_781_cam2.jpg"></a>
                          <a href="../ts/images/7_1010.jpg" title="A9 Seafield" data-gallery=""><img src="../ts/images/7_1010.jpg"></a>
                          <a href="../ts/images/4_1366_cam1.jpg" title="A9 Slochd North" data-gallery=""><img src="../ts/images/4_1366_cam1.jpg"></a>
                          <a href="../ts/images/4_1366_cam2.jpg" title="A9 Slochd South" data-gallery=""><img src="../ts/images/4_1366_cam2.jpg"></a>
                          <a href="../ts/images/4_237_cam1.jpg" title="A90 Birness North" data-gallery=""><img src="../ts/images/4_237_cam1.jpg"></a>
                          <a href="../ts/images/4_237_cam2.jpg" title="A90 Birness South" data-gallery=""><img src="../ts/images/4_237_cam2.jpg"></a>
                          <a href="../ts/images/4_228_cam1.jpg" title="A90 Charlestown North" data-gallery=""><img src="../ts/images/4_228_cam1.jpg"></a>
                          <a href="../ts/images/4_228_cam2.jpg" title="A90 Charlestown South" data-gallery=""><img src="../ts/images/4_228_cam2.jpg"></a>
                          <a href="../ts/images/7_717.jpg" title="A90 Dalmeny" data-gallery=""><img src="../ts/images/7_717.jpg"></a>
                          <a href="../ts/images/7_310.jpg" title="A90 Echline" data-gallery=""><img src="../ts/images/7_310.jpg"></a>
                          <a href="../ts/images/4_515_cam1.jpg" title="A90 Fiddes East" data-gallery=""><img src="../ts/images/4_515_cam1.jpg"></a>
                          <a href="../ts/images/4_515_cam2.jpg" title="A90 Fiddes West" data-gallery=""><img src="../ts/images/4_515_cam2.jpg"></a>
                          <a href="../ts/images/4_391_cam1.jpg" title="A90 Forfar North" data-gallery=""><img src="../ts/images/4_391_cam1.jpg"></a>
                          <a href="../ts/images/4_391_cam2.jpg" title="A90 Forfar South" data-gallery=""><img src="../ts/images/4_391_cam2.jpg"></a>
                          <a href="../ts/images/4_239_cam2.jpg" title="A90 Laurencekirk North" data-gallery=""><img src="../ts/images/4_239_cam2.jpg"></a>
                          <a href="../ts/images/4_239_cam1.jpg" title="A90 Laurencekirk South" data-gallery=""><img src="../ts/images/4_239_cam1.jpg"></a>
                          <a href="../ts/images/4_474_cam1.jpg" title="A90 Longforgan East" data-gallery=""><img src="../ts/images/4_474_cam1.jpg"></a>
                          <a href="../ts/images/4_474_cam2.jpg" title="A90 Longforgan West" data-gallery=""><img src="../ts/images/4_474_cam2.jpg"></a>
                          <a href="../ts/images/7_718.jpg" title="A90 Scotstoun ( E )" data-gallery=""><img src="../ts/images/7_718.jpg"></a>
                          <a href="../ts/images/4_520_cam1.jpg" title="A92 Cluny East" data-gallery=""><img src="../ts/images/4_520_cam1.jpg"></a>
                          <a href="../ts/images/4_520_cam2.jpg" title="A92 Cluny West" data-gallery=""><img src="../ts/images/4_520_cam2.jpg"></a>
                          <a href="../ts/images/7_736.jpg" title="A92 Crossgates" data-gallery=""><img src="../ts/images/7_736.jpg"></a>
                          <a href="../ts/images/7_735.jpg" title="A92 Crossgates Sth" data-gallery=""><img src="../ts/images/7_735.jpg"></a>
                          <a href="../ts/images/4_521_cam1.jpg" title="A92 New Inn North" data-gallery=""><img src="../ts/images/4_521_cam1.jpg"></a>
                          <a href="../ts/images/4_521_cam2.jpg" title="A92 New Inn South" data-gallery=""><img src="../ts/images/4_521_cam2.jpg"></a>
                          <a href="../ts/images/4_523_cam2.jpg" title="A92 Sandford North" data-gallery=""><img src="../ts/images/4_523_cam2.jpg"></a>
                          <a href="../ts/images/4_523_cam1.jpg" title="A92 Sandford South" data-gallery=""><img src="../ts/images/4_523_cam1.jpg"></a>
                          <a href="../ts/images/4_252_cam1.jpg" title="A95 Ballindalloch East" data-gallery=""><img src="../ts/images/4_252_cam1.jpg"></a>
                          <a href="../ts/images/4_252_cam2.jpg" title="A95 Ballindalloch West" data-gallery=""><img src="../ts/images/4_252_cam2.jpg"></a>
                          <a href="../ts/images/4_300_cam1.jpg" title="A95 Grantown East" data-gallery=""><img src="../ts/images/4_300_cam1.jpg"></a>
                          <a href="../ts/images/4_300_cam2.jpg" title="A95 Grantown West" data-gallery=""><img src="../ts/images/4_300_cam2.jpg"></a>
                          <a href="../ts/images/4_1659_cam1.jpg" title="A956 Bridge of Don North" data-gallery=""><img src="../ts/images/4_1659_cam1.jpg"></a>
                          <a href="../ts/images/4_1365_cam1.jpg" title="A96 Delnies East" data-gallery=""><img src="../ts/images/4_1365_cam1.jpg"></a>
                          <a href="../ts/images/4_1365_cam2.jpg" title="A96 Delnies West" data-gallery=""><img src="../ts/images/4_1365_cam2.jpg"></a>
                          <a href="../ts/images/4_253_cam1.jpg" title="A96 Fochabers West" data-gallery=""><img src="../ts/images/4_253_cam1.jpg"></a>
                          <a href="../ts/images/4_235_cam1.jpg" title="A96 Foudland East" data-gallery=""><img src="../ts/images/4_235_cam1.jpg"></a>
                          <a href="../ts/images/4_235_cam2.jpg" title="A96 Foudland West" data-gallery=""><img src="../ts/images/4_235_cam2.jpg"></a>
                          <a href="../ts/images/4_230_cam1.jpg" title="A96 Tyrebagger East" data-gallery=""><img src="../ts/images/4_230_cam1.jpg"></a>
                          <a href="../ts/images/4_230_cam2.jpg" title="A96 Tyrebagger West" data-gallery=""><img src="../ts/images/4_230_cam2.jpg"></a>
                          <a href="../ts/images/7_952.jpg" title="A985 Kincardine Bridge" data-gallery=""><img src="../ts/images/7_952.jpg"></a>
                          <a href="../ts/images/4_2158_cam1.jpg" title="A985 Kincardine Br (N)" data-gallery=""><img src="../ts/images/4_2158_cam1.jpg"></a>
                          <a href="../ts/images/7_183.jpg" title="M73 Drumcavel" data-gallery=""><img src="../ts/images/7_183.jpg"></a>
                          <a href="../ts/images/7_182.jpg" title="M73 Gartcosh" data-gallery=""><img src="../ts/images/7_182.jpg"></a>
                          <a href="../ts/images/7_611.jpg" title="M73 Westfield Link" data-gallery=""><img src="../ts/images/7_611.jpg"></a>
                          <a href="../ts/images/7_509.jpg" title="M74 Auchenshuggle" data-gallery=""><img src="../ts/images/7_509.jpg"></a>
                          <a href="../ts/images/4_354_cam1.jpg" title="M74 Beattock East" data-gallery=""><img src="../ts/images/4_354_cam1.jpg"></a>
                          <a href="../ts/images/4_354_cam2.jpg" title="M74 Beattock West" data-gallery=""><img src="../ts/images/4_354_cam2.jpg"></a>
                          <a href="../ts/images/7_504.jpg" title="M74 Caledonia Rd" data-gallery=""><img src="../ts/images/7_504.jpg"></a>
                          <a href="../ts/images/7_508.jpg" title="M74 Cambuslang" data-gallery=""><img src="../ts/images/7_508.jpg"></a>
                          <a href="../ts/images/7_510.jpg" title="M74 Fullarton Rd" data-gallery=""><img src="../ts/images/7_510.jpg"></a>
                          <a href="../ts/images/7_506.jpg" title="M74 Glasgow Rd" data-gallery=""><img src="../ts/images/7_506.jpg"></a>
                          <a href="../ts/images/7_189.jpg" title="M74 Hamilton Services" data-gallery=""><img src="../ts/images/7_189.jpg"></a>
                          <a href="../ts/images/7_191.jpg" title="M74 Haughhead" data-gallery=""><img src="../ts/images/7_191.jpg"></a>
                          <a href="../ts/images/7_501.jpg" title="M74 Kingston" data-gallery=""><img src="../ts/images/7_501.jpg"></a>
                          <a href="../ts/images/7_193.jpg" title="M74 Larkhall" data-gallery=""><img src="../ts/images/7_193.jpg"></a>
                          <a href="../ts/images/7_503.jpg" title="M74 Laurieston" data-gallery=""><img src="../ts/images/7_503.jpg"></a>
                          <a href="../ts/images/7_29.jpg" title="M74 Maryville" data-gallery=""><img src="../ts/images/7_29.jpg"></a>
                          <a href="../ts/images/4_357_cam1.jpg" title="M74 Millbank North" data-gallery=""><img src="../ts/images/4_357_cam1.jpg"></a>
                          <a href="../ts/images/4_357_cam2.jpg" title="M74 Millbank South" data-gallery=""><img src="../ts/images/4_357_cam2.jpg"></a>
                          <a href="../ts/images/7_500.jpg" title="M74 Paisley Rd" data-gallery=""><img src="../ts/images/7_500.jpg"></a>
                          <a href="../ts/images/7_505.jpg" title="M74 Polmadie" data-gallery=""><img src="../ts/images/7_505.jpg"></a>
                          <a href="../ts/images/7_507.jpg" title="M74 Rutherglen" data-gallery=""><img src="../ts/images/7_507.jpg"></a>
                          <a href="../ts/images/7_185.jpg" title="M74 Tannochside" data-gallery=""><img src="../ts/images/7_185.jpg"></a>
                          <a href="../ts/images/7_186.jpg" title="M74 Uddingston" data-gallery=""><img src="../ts/images/7_186.jpg"></a>
                          <a href="../ts/images/7_119.jpg" title="M77 Crookfur Rd" data-gallery=""><img src="../ts/images/7_119.jpg"></a>
                          <a href="../ts/images/7_120.jpg" title="M77 Dodside Rd" data-gallery=""><img src="../ts/images/7_120.jpg"></a>
                          <a href="../ts/images/7_128.jpg" title="M77 Fenwick" data-gallery=""><img src="../ts/images/7_128.jpg"></a>
                          <a href="../ts/images/7_125.jpg" title="M77 Floak" data-gallery=""><img src="../ts/images/7_125.jpg"></a>
                          <a href="../ts/images/7_127.jpg" title="M77 Galston Rd" data-gallery=""><img src="../ts/images/7_127.jpg"></a>
                          <a href="../ts/images/7_126.jpg" title="M77 Kingswell" data-gallery=""><img src="../ts/images/7_126.jpg"></a>
                          <a href="../ts/images/7_123.jpg" title="M77 Maidenhill" data-gallery=""><img src="../ts/images/7_123.jpg"></a>
                          <a href="../ts/images/7_122.jpg" title="M77 Malletsheugh" data-gallery=""><img src="../ts/images/7_122.jpg"></a>
                          <a href="../ts/images/7_121.jpg" title="M77 Netherplace" data-gallery=""><img src="../ts/images/7_121.jpg"></a>
                          <a href="../ts/images/7_117.jpg" title="M77 Nitshill Road" data-gallery=""><img src="../ts/images/7_117.jpg"></a>
                          <a href="../ts/images/7_118.jpg" title="M77 Patterton" data-gallery=""><img src="../ts/images/7_118.jpg"></a>
                          <a href="../ts/images/7_124.jpg" title="M77 St.Martins" data-gallery=""><img src="../ts/images/7_124.jpg"></a>
                          <a href="../ts/images/7_25.jpg" title="M8 Baillieston (Nth)" data-gallery=""><img src="../ts/images/7_25.jpg"></a>
                          <a href="../ts/images/7_204.jpg" title="M8 Baird Rd" data-gallery=""><img src="../ts/images/7_204.jpg"></a>
                          <a href="../ts/images/7_168.jpg" title="M8 Bathgate" data-gallery=""><img src="../ts/images/7_168.jpg"></a>
                          <a href="../ts/images/7_26.jpg" title="M8 Baillieston ( roundabout )" data-gallery=""><img src="../ts/images/7_26.jpg"></a>
                          <a href="../ts/images/4_1300_cam2.jpg" title="M8 Bishopton East" data-gallery=""><img src="../ts/images/4_1300_cam2.jpg"></a>
                          <a href="../ts/images/4_1300_cam1.jpg" title="M8 Bishopton West" data-gallery=""><img src="../ts/images/4_1300_cam1.jpg"></a>
                          <a href="../ts/images/7_8.jpg" title="M8 Cardonald" data-gallery=""><img src="../ts/images/7_8.jpg"></a>
                          <a href="../ts/images/7_80.jpg" title="M8 Charing X Tunnel" data-gallery=""><img src="../ts/images/7_80.jpg"></a>
                          <a href="../ts/images/7_205.jpg" title="M8 Claylands" data-gallery=""><img src="../ts/images/7_205.jpg"></a>
                          <a href="../ts/images/4_1231_cam1.jpg" title="M8 Duntilland East" data-gallery=""><img src="../ts/images/4_1231_cam1.jpg"></a>
                          <a href="../ts/images/4_1231_cam2.jpg" title="M8 Duntilland West" data-gallery=""><img src="../ts/images/4_1231_cam2.jpg"></a>
                          <a href="../ts/images/7_161.jpg" title="M8 Eastfield" data-gallery=""><img src="../ts/images/7_161.jpg"></a>
                          <a href="../ts/images/7_1021.jpg" title="M8 Erskine Br (M8)" data-gallery=""><img src="../ts/images/7_1021.jpg"></a>
                          <a href="../ts/images/7_19.jpg" title="M8 Gartcraig Rd" data-gallery=""><img src="../ts/images/7_19.jpg"></a>
                          <a href="../ts/images/7_53.jpg" title="M8 Glasgow Airport" data-gallery=""><img src="../ts/images/7_53.jpg"></a>
                          <a href="../ts/images/7_21.jpg" title="M8 Glasgow Fort" data-gallery=""><img src="../ts/images/7_21.jpg"></a>
                          <a href="../ts/images/7_201.jpg" title="M8 Gogar Station Rd" data-gallery=""><img src="../ts/images/7_201.jpg"></a>
                          <a href="../ts/images/7_162.jpg" title="M8 Harthill" data-gallery=""><img src="../ts/images/7_162.jpg"></a>
                          <a href="../ts/images/7_163.jpg" title="M8 Heartlands" data-gallery=""><img src="../ts/images/7_163.jpg"></a>
                          <a href="../ts/images/7_9.jpg" title="M8 Helen St" data-gallery=""><img src="../ts/images/7_9.jpg"></a>
                          <a href="../ts/images/7_13.jpg" title="M8 Hilton" data-gallery=""><img src="../ts/images/7_13.jpg"></a>
                          <a href="../ts/images/4_2946_cam1.jpg" title="M8 Junction 3" data-gallery=""><img src="../ts/images/4_2946_cam1.jpg"></a>
                          <a href="../ts/images/7_12.jpg" title="M8 Kingston Br" data-gallery=""><img src="../ts/images/7_12.jpg"></a>
                          <a href="../ts/images/7_171.jpg" title="M8 Livingston" data-gallery=""><img src="../ts/images/7_171.jpg"></a>
                          <a href="../ts/images/7_206.jpg" title="M8 Loup-o-Lees" data-gallery=""><img src="../ts/images/7_206.jpg"></a>
                          <a href="../ts/images/7_111.jpg" title="M8 Plantation" data-gallery=""><img src="../ts/images/7_111.jpg"></a>
                          <a href="../ts/images/7_90.jpg" title="M8 Port Dundas" data-gallery=""><img src="../ts/images/7_90.jpg"></a>
                          <a href="../ts/images/7_39.jpg" title="M8 Provan" data-gallery=""><img src="../ts/images/7_39.jpg"></a>
                          <a href="../ts/images/7_202.jpg" title="M8 Ransfield Rd" data-gallery=""><img src="../ts/images/7_202.jpg"></a>
                          <a href="../ts/images/7_203.jpg" title="M8 Roddinglaw" data-gallery=""><img src="../ts/images/7_203.jpg"></a>
                          <a href="../ts/images/7_76.jpg" title="M8 Shieldhall" data-gallery=""><img src="../ts/images/7_76.jpg"></a>
                          <a href="../ts/images/7_55.jpg" title="M8 St James (A737)" data-gallery=""><img src="../ts/images/7_55.jpg"></a>
                          <a href="../ts/images/7_165.jpg" title="M8 Whitburn" data-gallery=""><img src="../ts/images/7_165.jpg"></a>
                          <a href="../ts/images/7_166.jpg" title="M8 Whitburn (E)" data-gallery=""><img src="../ts/images/7_166.jpg"></a>
                          <a href="../ts/images/4_1411_cam1.jpg" title="M8 Whitburn Junction 4 West" data-gallery=""><img src="../ts/images/4_1411_cam1.jpg"></a>
                          <a href="../ts/images/7_164.jpg" title="M8 Whitburn West" data-gallery=""><img src="../ts/images/7_164.jpg"></a>
                          <a href="../ts/images/7_52.jpg" title="M8 Whitecart Viaduct" data-gallery=""><img src="../ts/images/7_52.jpg"></a>
                          <a href="../ts/images/7_606.jpg" title="M80 Arronhill" data-gallery=""><img src="../ts/images/7_606.jpg"></a>
                          <a href="../ts/images/7_608.jpg" title="M80 Auchengeich" data-gallery=""><img src="../ts/images/7_608.jpg"></a>
                          <a href="../ts/images/7_614.jpg" title="M80 Auchenkilns" data-gallery=""><img src="../ts/images/7_614.jpg"></a>
                          <a href="../ts/images/4_1225_cam2.jpg" title="M80 Bankhead North" data-gallery=""><img src="../ts/images/4_1225_cam2.jpg"></a>
                          <a href="../ts/images/4_1225_cam1.jpg" title="M80 Bankhead South" data-gallery=""><img src="../ts/images/4_1225_cam1.jpg"></a>
                          <a href="../ts/images/7_620.jpg" title="M80 Banknock" data-gallery=""><img src="../ts/images/7_620.jpg"></a>
                          <a href="../ts/images/7_619.jpg" title="M80 Castlecary" data-gallery=""><img src="../ts/images/7_619.jpg"></a>
                          <a href="../ts/images/7_613.jpg" title="M80 Condorrat" data-gallery=""><img src="../ts/images/7_613.jpg"></a>
                          <a href="../ts/images/7_46.jpg" title="M80 Crowwood R'bout" data-gallery=""><img src="../ts/images/7_46.jpg"></a>
                          <a href="../ts/images/7_618.jpg" title="M80 Dunns Wood" data-gallery=""><img src="../ts/images/7_618.jpg"></a>
                          <a href="../ts/images/7_610.jpg" title="M80 Gartferry" data-gallery=""><img src="../ts/images/7_610.jpg"></a>
                          <a href="../ts/images/7_621.jpg" title="M80 Haggs" data-gallery=""><img src="../ts/images/7_621.jpg"></a>
                          <a href="../ts/images/7_605.jpg" title="M80 Hornshill" data-gallery=""><img src="../ts/images/7_605.jpg"></a>
                          <a href="../ts/images/7_607.jpg" title="M80 Lindsaybeg" data-gallery=""><img src="../ts/images/7_607.jpg"></a>
                          <a href="../ts/images/7_612.jpg" title="M80 Mollinsburn" data-gallery=""><img src="../ts/images/7_612.jpg"></a>
                          <a href="../ts/images/7_609.jpg" title="M80 Moodiesburn" data-gallery=""><img src="../ts/images/7_609.jpg"></a>
                          <a href="../ts/images/7_617.jpg" title="M80 Old Inns" data-gallery=""><img src="../ts/images/7_617.jpg"></a>
                          <a href="../ts/images/7_615.jpg" title="M80 Seafar" data-gallery=""><img src="../ts/images/7_615.jpg"></a>
                          <a href="../ts/images/7_616.jpg" title="M80 Westerwood" data-gallery=""><img src="../ts/images/7_616.jpg"></a>
                          <a href="../ts/images/4_1219_cam2.jpg" title="M9 Bannockburn North" data-gallery=""><img src="../ts/images/4_1219_cam2.jpg"></a>
                          <a href="../ts/images/4_1219_cam1.jpg" title="M9 Bannockburn South" data-gallery=""><img src="../ts/images/4_1219_cam1.jpg"></a>
                          <a href="../ts/images/7_702.jpg" title="M9 Cotlaws" data-gallery=""><img src="../ts/images/7_702.jpg"></a>
                          <a href="../ts/images/7_706.jpg" title="M9 Duntarvie 1" data-gallery=""><img src="../ts/images/7_706.jpg"></a>
                          <a href="../ts/images/7_707.jpg" title="M9 Duntarvie 2" data-gallery=""><img src="../ts/images/7_707.jpg"></a>
                          <a href="../ts/images/7_218.jpg" title="M9 Harvest Rd" data-gallery=""><img src="../ts/images/7_218.jpg"></a>
                          <a href="../ts/images/7_703.jpg" title="M9 Junction 1A South" data-gallery=""><img src="../ts/images/7_703.jpg"></a>
                          <a href="../ts/images/7_704.jpg" title="M9 Junction 1A West" data-gallery=""><img src="../ts/images/7_704.jpg"></a>
                          <a href="../ts/images/7_700.jpg" title="M9 Milrig" data-gallery=""><img src="../ts/images/7_700.jpg"></a>
                          <a href="../ts/images/7_705.jpg" title="M9 Muriehall" data-gallery=""><img src="../ts/images/7_705.jpg"></a>
                          <a href="../ts/images/7_207.jpg" title="M9 Newbridge (N)" data-gallery=""><img src="../ts/images/7_207.jpg"></a>
                          <a href="../ts/images/4_8793_cam1.jpg" title="M9 Newbridge East" data-gallery=""><img src="../ts/images/4_8793_cam1.jpg"></a>
                          <a href="../ts/images/7_208.jpg" title="M9 Newbridge R'bout" data-gallery=""><img src="../ts/images/7_208.jpg"></a>
                          <a href="../ts/images/4_8793_cam2.jpg" title="M9 Newbridge West" data-gallery=""><img src="../ts/images/4_8793_cam2.jpg"></a>
                          <a href="../ts/images/7_701.jpg" title="M9 Niddry Burn" data-gallery=""><img src="../ts/images/7_701.jpg"></a>
                          <a href="../ts/images/7_725.jpg" title="M90 A823 Slip" data-gallery=""><img src="../ts/images/7_725.jpg"></a>
                          <a href="../ts/images/7_321.jpg" title="M90 Admiralty" data-gallery=""><img src="../ts/images/7_321.jpg"></a>
                          <a href="../ts/images/7_719.jpg" title="M90 Admiralty 1" data-gallery=""><img src="../ts/images/7_719.jpg"></a>
                          <a href="../ts/images/7_720.jpg" title="M90 Admiralty 2" data-gallery=""><img src="../ts/images/7_720.jpg"></a>
                          <a href="../ts/images/7_713.jpg" title="M90 Almondhill" data-gallery=""><img src="../ts/images/7_713.jpg"></a>
                          <a href="../ts/images/7_1011.jpg" title="M90 Arlary" data-gallery=""><img src="../ts/images/7_1011.jpg"></a>
                          <a href="../ts/images/7_726.jpg" title="M90 Balbougie" data-gallery=""><img src="../ts/images/7_726.jpg"></a>
                          <a href="../ts/images/7_728.jpg" title="M90 Calais Muir" data-gallery=""><img src="../ts/images/7_728.jpg"></a>
                          <a href="../ts/images/7_714.jpg" title="M90 Craigbrae 1" data-gallery=""><img src="../ts/images/7_714.jpg"></a>
                          <a href="../ts/images/7_715.jpg" title="M90 Craigbrae 2" data-gallery=""><img src="../ts/images/7_715.jpg"></a>
                          <a href="../ts/images/7_727.jpg" title="M90 Duloch" data-gallery=""><img src="../ts/images/7_727.jpg"></a>
                          <a href="../ts/images/7_320.jpg" title="M90 Dunf Wynd" data-gallery=""><img src="../ts/images/7_320.jpg"></a>
                          <a href="../ts/images/7_957.jpg" title="M90 Friarton Bridge" data-gallery=""><img src="../ts/images/7_957.jpg"></a>
                          <a href="../ts/images/4_475_cam2.jpg" title="M90 Glenfarg North" data-gallery=""><img src="../ts/images/4_475_cam2.jpg"></a>
                          <a href="../ts/images/4_475_cam1.jpg" title="M90 Glenfarg South" data-gallery=""><img src="../ts/images/4_475_cam1.jpg"></a>
                          <a href="../ts/images/7_733.jpg" title="M90 Halbeath 2" data-gallery=""><img src="../ts/images/7_733.jpg"></a>
                          <a href="../ts/images/7_326.jpg" title="M90 Halbeath(S)" data-gallery=""><img src="../ts/images/7_326.jpg"></a>
                          <a href="../ts/images/7_711.jpg" title="M90 Humbie Farm 1" data-gallery=""><img src="../ts/images/7_711.jpg"></a>
                          <a href="../ts/images/7_712.jpg" title="M90 Humbie Farm 2" data-gallery=""><img src="../ts/images/7_712.jpg"></a>
                          <a href="../ts/images/7_709.jpg" title="M90 Junction 1A EB Slip" data-gallery=""><img src="../ts/images/7_709.jpg"></a>
                          <a href="../ts/images/7_708.jpg" title="M90 Junction 1A North" data-gallery=""><img src="../ts/images/7_708.jpg"></a>
                          <a href="../ts/images/7_730.jpg" title="M90 Junction 2A 1" data-gallery=""><img src="../ts/images/7_730.jpg"></a>
                          <a href="../ts/images/7_731.jpg" title="M90 Junction 2A 2" data-gallery=""><img src="../ts/images/7_731.jpg"></a>
                          <a href="../ts/images/4_2152_cam1.jpg" title="M90 Kelty North" data-gallery=""><img src="../ts/images/4_2152_cam1.jpg"></a>
                          <a href="../ts/images/4_2152_cam2.jpg" title="M90 Kelty South" data-gallery=""><img src="../ts/images/4_2152_cam2.jpg"></a>
                          <a href="../ts/images/7_734.jpg" title="M90 Kingseat" data-gallery=""><img src="../ts/images/7_734.jpg"></a>
                          <a href="../ts/images/7_710.jpg" title="M90 Kirklands" data-gallery=""><img src="../ts/images/7_710.jpg"></a>
                          <a href="../ts/images/7_322.jpg" title="M90 Masterton 1" data-gallery=""><img src="../ts/images/7_322.jpg"></a>
                          <a href="../ts/images/7_722.jpg" title="M90 Masterton 2" data-gallery=""><img src="../ts/images/7_722.jpg"></a>
                          <a href="../ts/images/7_723.jpg" title="M90 MiddleBank 1" data-gallery=""><img src="../ts/images/7_723.jpg"></a>
                          <a href="../ts/images/7_724.jpg" title="M90 MiddleBank 2" data-gallery=""><img src="../ts/images/7_724.jpg"></a>
                          <a href="../ts/images/7_716.jpg" title="M90 Naval Yard" data-gallery=""><img src="../ts/images/7_716.jpg"></a>
                          <a href="../ts/images/7_323.jpg" title="M90 Pitreavie" data-gallery=""><img src="../ts/images/7_323.jpg"></a>
                          <a href="../ts/images/7_721.jpg" title="M90 Rosyth" data-gallery=""><img src="../ts/images/7_721.jpg"></a>
                          <a href="../ts/images/7_732.jpg" title="M90 Sandybank" data-gallery=""><img src="../ts/images/7_732.jpg"></a>
                          <a href="../ts/images/7_332.jpg" title="M90 Scotstoun Interchange" data-gallery=""><img src="../ts/images/7_332.jpg"></a>
                          <a href="../ts/images/7_319.jpg" title="M90 Well Dean" data-gallery=""><img src="../ts/images/7_319.jpg"></a>
                          <a href="../ts/images/7_729.jpg" title="M90 Woodlee" data-gallery=""><img src="../ts/images/7_729.jpg"></a>


                              <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                            <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
                                  <div class="slides"></div>
                                  <h3 class="title"></h3>
                                  <a class="prev">‹</a>
                                  <a class="next">›</a>
                                  <a class="close">×</a>
                                  <a class="play-pause"></a>
                                  <ol class="indicator"></ol>
                              </div>

                          </div>

                      </div>
                  </div>
              </div>

              </div>
          </div>
</template>
